ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul.menu{
    display: flex;
    position: relative;
}
ul.menu{
    background-color: lightgray;
    
}
ul.menu > li{
    max-width: 200px;
    
}
ul.menu > li > a{
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: lightgraygray;
}
ul.menu > li > a:hover{
    background-color: blue;
    color: white;
}
.subcontent{
    display: none;
}
.sub:hover .subcontent{
    display: block;
    position: absolute;
}
