<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/all.css">
        <script src="js/bootstrap.js"></script>
        
    </head>
    <body>
        <div class="container">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h1>List of customers</h1>
                    </div>
                    <div class="col-sm-7">
                        <a href="/customers/create" class="btn
                            btn-outline-light">
                            <i class="fa fa-plus-square"></i>
                            <span>Add New Customer</span>
                        </a>
                        <a href="/customers/create" class="btn
                            btn-outline-light">
                            <i class="fa fa-history"></i>
                            <span>Transfer money information</span>
                        </a>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Balance</th>
                        <th colspan="5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--                        <td th:text="${customer.deposits.size()}" class="text-center"></td>-->
                        <td>565</td>
                        <td>Superman</td>
                        <td>superman@gm</td>
                        <td class="text-center">130921930213-21</td>
                        <td>Washington DC</td>
                        <td class="text-end num-space">0</td>
                        <td class="text-center">
                            <a class="btn btn-outline-secondary" title=""
                                data-toggle="tooltip" href="/customers/edit/565"
                                data-bs-original-title="Edit">
                                <i class="fa fa-pencil-square"
                                    aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-success" title=""
                                data-toggle="tooltip"
                                href="/customers/deposit/565"
                                data-bs-original-title="Deposit">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-warning" title=""
                                data-toggle="tooltip"
                                href="/customers/withdraw/565"
                                data-bs-original-title="Withdraw">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary" title=""
                                data-toggle="tooltip"
                                href="/customers/transfer/565"
                                data-bs-original-title="Transfer">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-danger" title=""
                                data-toggle="tooltip"
                                href="/customers/suspended/565"
                                data-bs-original-title="Suspended">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <!--                        <td th:text="${customer.deposits.size()}" class="text-center"></td>-->
                        <td>565</td>
                        <td>Superman</td>
                        <td>superman@gm</td>
                        <td class="text-center">130921930213-21</td>
                        <td>Washington DC</td>
                        <td class="text-end num-space">0</td>
                        <td class="text-center">
                            <a class="btn btn-outline-secondary" title=""
                                data-toggle="tooltip" href="/customers/edit/565"
                                data-bs-original-title="Edit">
                                <i class="fa fa-pencil-square"
                                    aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-success" title=""
                                data-toggle="tooltip"
                                href="/customers/deposit/565"
                                data-bs-original-title="Deposit">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-warning" title=""
                                data-toggle="tooltip"
                                href="/customers/withdraw/565"
                                data-bs-original-title="Withdraw">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary" title=""
                                data-toggle="tooltip"
                                href="/customers/transfer/565"
                                data-bs-original-title="Transfer">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-danger" title=""
                                data-toggle="tooltip"
                                href="/customers/suspended/565"
                                data-bs-original-title="Suspended">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <!--                        <td th:text="${customer.deposits.size()}" class="text-center"></td>-->
                        <td>565</td>
                        <td>Superman</td>
                        <td>superman@gm</td>
                        <td class="text-center">130921930213-21</td>
                        <td>Washington DC</td>
                        <td class="text-end num-space">0</td>
                        <td class="text-center">
                            <a class="btn btn-outline-secondary" title=""
                                data-toggle="tooltip" href="/customers/edit/565"
                                data-bs-original-title="Edit">
                                <i class="fa fa-pencil-square"
                                    aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-success" title=""
                                data-toggle="tooltip"
                                href="/customers/deposit/565"
                                data-bs-original-title="Deposit">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-warning" title=""
                                data-toggle="tooltip"
                                href="/customers/withdraw/565"
                                data-bs-original-title="Withdraw">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary" title=""
                                data-toggle="tooltip"
                                href="/customers/transfer/565"
                                data-bs-original-title="Transfer">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-danger" title=""
                                data-toggle="tooltip"
                                href="/customers/suspended/565"
                                data-bs-original-title="Suspended">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <!--                        <td th:text="${customer.deposits.size()}" class="text-center"></td>-->
                        <td>565</td>
                        <td>Superman</td>
                        <td>superman@gm</td>
                        <td class="text-center">130921930213-21</td>
                        <td>Washington DC</td>
                        <td class="text-end num-space">0</td>
                        <td class="text-center">
                            <a class="btn btn-outline-secondary" title=""
                                data-toggle="tooltip" href="/customers/edit/565"
                                data-bs-original-title="Edit">
                                <i class="fa fa-pencil-square"
                                    aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-success" title=""
                                data-toggle="tooltip"
                                href="/customers/deposit/565"
                                data-bs-original-title="Deposit">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-warning" title=""
                                data-toggle="tooltip"
                                href="/customers/withdraw/565"
                                data-bs-original-title="Withdraw">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary" title=""
                                data-toggle="tooltip"
                                href="/customers/transfer/565"
                                data-bs-original-title="Transfer">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-danger" title=""
                                data-toggle="tooltip"
                                href="/customers/suspended/565"
                                data-bs-original-title="Suspended">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <!--                        <td th:text="${customer.deposits.size()}" class="text-center"></td>-->
                        <td>565</td>
                        <td>Superman</td>
                        <td>superman@gm</td>
                        <td class="text-center">130921930213-21</td>
                        <td>Washington DC</td>
                        <td class="text-end num-space">0</td>
                        <td class="text-center">
                            <a class="btn btn-outline-secondary" title=""
                                data-toggle="tooltip" href="/customers/edit/565"
                                data-bs-original-title="Edit">
                                <i class="fa fa-pencil-square"
                                    aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-success" title=""
                                data-toggle="tooltip"
                                href="/customers/deposit/565"
                                data-bs-original-title="Deposit">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-warning" title=""
                                data-toggle="tooltip"
                                href="/customers/withdraw/565"
                                data-bs-original-title="Withdraw">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary" title=""
                                data-toggle="tooltip"
                                href="/customers/transfer/565"
                                data-bs-original-title="Transfer">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-danger" title=""
                                data-toggle="tooltip"
                                href="/customers/suspended/565"
                                data-bs-original-title="Suspended">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>