body {
  margin: 0;
}

.header {
  background-color: #F3F3F3;
  display: flex;
  align-items: baseline;
  padding: .5rem;
  gap: 1rem;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.link:hover {
  color: black;
}
.dropdown{
  position: relative;
  background-color: red;
}

.dropdown-menu{
  position: absolute;
  left: 10px;
  top: 10px;
  /* left: 0;
  top: calc(100% + .75rem); */
  /* top: 100%; */
  background-color: white;
  padding: 0.75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

/* .dropdown > .link:hover + .dropdown-menu{
  display: block;
} */
.dropdown:hover > .dropdown-menu{
  display: block;
}