*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    min-height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1682687979601-082a1295b78f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    background-position: center;
}
header{
    padding: 0 2rem;
}
.navbar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color: orange;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    display: none;
}
.action_btn{
    background-color: orange;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: scale 0.2 ease;
    text-align: center;
}
.action_btn:hover{
    color: #fff;
    scale: 1.05;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
} 
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}  
.open{
    display: block;
}

@media(max-width:992px){
    .navbar .links, .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
}
@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}
#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}